/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #302340;
    color: white;
}

/* Have I Seen This h1 */
.website-title {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
    font-weight: bold; /* Ensure bold weight */
    font-size: 25px; /* Increase font size as needed */
}

#spinwheel-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.wheel-container {
    position: relative;
    width: 90%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.wheel {
    display: flex;
    transition: transform 1s ease-out;
}

.wheel-item {
    min-width: 220px; /* Increase the width */
    min-height: 330px; /* Increase the height */
    margin: 10px;
    background-color: #333333; /* Background color */
    border: 2px solid #333333; /* Border color */
    border-radius: 10px; /* Border radius */
    box-sizing: border-box; /* Include border in dimensions */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.wheel-item img {
    max-width: 100%; /* Ensure image fits within container */
    max-height: 100%; /* Ensure image fits within container */
    border-radius: 8px; /* Match border radius */
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.5); /* h-offset, v-offset, blur, color*/
}

.indicator {
    position: absolute;
    top: -5px; /* Slight overlap on the top */
    bottom: -5px; /* Slight overlap on the bottom */
    left: 0;
    width: 4px; /* Width of the indicator */
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
}

#spin-button {
    text-transform: uppercase; /* Make text uppercase */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
    font-weight: bold; /* Ensure bold weight */
    font-size: 18px; /* Increase font size as needed */
    position: absolute;
    bottom: -50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 4px;
}

#spin-button:hover {
    background-color: #333333;
}